In [1]:
import numpy as np
import pandas as pd
from datetime import datetime

In [2]:
df_player_stat1= pd.read_csv("Jugadores_Ficha_2022_V1Nac.csv")

In [3]:
df_player_stat2= pd.read_csv("Jugadores_STAT_2022.csv")

In [4]:
# se unen los dos dataframe
df_fullplayer_stat=df_player_stat1.merge(df_player_stat2, on='id', suffixes=('', '_2'))

In [5]:
#Elimina las columnas repetidas
df_fullplayer_stat.drop(columns=[col for col in df_fullplayer_stat.columns if col.endswith('_2')], inplace=True)

Agregamos la columna OPS que es por donde se miden de manera general a todos los jugadores
El OPS es la suma de OBP(%_On. Base)+SLG(Slugging)

# OPS – Promedio de Embasado(OBP) + Slugging 
(agrega porcentaje de embasado y porcentaje de slugging )
para obtener un número que une a los dos. Su objetivo es combinar lo bien que un bateador 
puede llegar a la base, con lo bien que puede batear para promedio y poder.

In [6]:
#Creamos la columna
df_fullplayer_stat["OPS"]=df_fullplayer_stat["%_On_Base"]+df_fullplayer_stat["Slugging"]

In [8]:
df_fullplayer_stat.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 130 entries, 0 to 129
Data columns (total 32 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   130 non-null    int64
 1   Nombre               130 non-null    object
 2   Apellido             130 non-null    object
 3   Posicion             130 non-null    object
 4   Dorsal               130 non-null    int64
 5   Equipo               130 non-null    object
 6   Fecha Nac            130 non-null    datetime64[ns]
 7   Edad                 130 non-null    int64
 8   Lugar_Nacimiento     130 non-null    object
 9   F_Debut              130 non-null    datetime64[ns]
 10  Peso                 130 non-null    object
 11  Estatura(mtrs)       130 non-null    float64
 12  Mano_Bateo           130 non-null    object
 13  Mano_Lanzar          130 non-null    object
 14  Link_Ficha_Player    130 non-null    object
 15  Team                 130 non-null    object
 16  Juegos_Jugados       130 non-null    int64
 17  Turnos_Bate          130 non-null    int64
 18  Carrera              130 non-null    int64
 19  Hits                 130 non-null    int64
 20  Dobles               130 non-null    int64
 21  Triple               130 non-null    int64
 22  Jonrones             130 non-null    int64
 23  Carreras_Impulsadas  130 non-null    int64
 24  Boletos              130 non-null    int64
 25  Ponches              130 non-null    int64
 26  Bases_Robadas        130 non-null    int64
 27  Atrapado_Robando     130 non-null    int64
 28  Promedio             130 non-null    float64
 29  %_On_Base            130 non-null    float64
 30  Slugging             130 non-null    float64
 31  OPS                  130 non-null    float64
dtypes: datetime64[ns](2), float64(5), int64(15), object(10)
memory usage: 33.5+ KB

In [9]:
#Eliminar la columna equipo que se repite
df_fullplayer_stat.drop(columns=["Equipo"], inplace=True)

In [10]:
df_fullplayer_stat.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 130 entries, 0 to 129
Data columns (total 31 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   130 non-null    int64
 1   Nombre               130 non-null    object
 2   Apellido             130 non-null    object
 3   Posicion             130 non-null    object
 4   Dorsal               130 non-null    int64
 5   Fecha Nac            130 non-null    datetime64[ns]
 6   Edad                 130 non-null    int64
 7   Lugar_Nacimiento     130 non-null    object
 8   F_Debut              130 non-null    datetime64[ns]
 9   Peso                 130 non-null    object
 10  Estatura(mtrs)       130 non-null    float64
 11  Mano_Bateo           130 non-null    object
 12  Mano_Lanzar          130 non-null    object
 13  Link_Ficha_Player    130 non-null    object
 14  Team                 130 non-null    object
 15  Juegos_Jugados       130 non-null    int64
 16  Turnos_Bate          130 non-null    int64
 17  Carrera              130 non-null    int64
 18  Hits                 130 non-null    int64
 19  Dobles               130 non-null    int64
 20  Triple               130 non-null    int64
 21  Jonrones             130 non-null    int64
 22  Carreras_Impulsadas  130 non-null    int64
 23  Boletos              130 non-null    int64
 24  Ponches              130 non-null    int64
 25  Bases_Robadas        130 non-null    int64
 26  Atrapado_Robando     130 non-null    int64
 27  Promedio             130 non-null    float64
 28  %_On_Base            130 non-null    float64
 29  Slugging             130 non-null    float64
 30  OPS                  130 non-null    float64
dtypes: datetime64[ns](2), float64(5), int64(15), object(9)
memory usage: 32.5+ KB

In [11]:
#Crea pais USA para los estados segun Lugar de Nacimiento
lugar=df_fullplayer_stat["Lugar_Nacimiento"]
pais=[]
for i in lugar:
    if len(i)== 3:
        a="USA"
        pais.append(a)
    else:
        pais.append(i[1:])

In [12]:
#agrega la cloumna Pais al df
df_fullplayer_stat["Pais"]=pais

In [14]:
df_fullplayer_stat.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 130 entries, 0 to 129
Data columns (total 32 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   130 non-null    int64
 1   Nombre               130 non-null    object
 2   Apellido             130 non-null    object
 3   Posicion             130 non-null    object
 4   Dorsal               130 non-null    int64
 5   Fecha Nac            130 non-null    datetime64[ns]
 6   Edad                 130 non-null    int64
 7   Lugar_Nacimiento     130 non-null    object
 8   F_Debut              130 non-null    datetime64[ns]
 9   Peso                 130 non-null    object
 10  Estatura(mtrs)       130 non-null    float64
 11  Mano_Bateo           130 non-null    object
 12  Mano_Lanzar          130 non-null    object
 13  Link_Ficha_Player    130 non-null    object
 14  Team                 130 non-null    object
 15  Juegos_Jugados       130 non-null    int64
 16  Turnos_Bate          130 non-null    int64
 17  Carrera              130 non-null    int64
 18  Hits                 130 non-null    int64
 19  Dobles               130 non-null    int64
 20  Triple               130 non-null    int64
 21  Jonrones             130 non-null    int64
 22  Carreras_Impulsadas  130 non-null    int64
 23  Boletos              130 non-null    int64
 24  Ponches              130 non-null    int64
 25  Bases_Robadas        130 non-null    int64
 26  Atrapado_Robando     130 non-null    int64
 27  Promedio             130 non-null    float64
 28  %_On_Base            130 non-null    float64
 29  Slugging             130 non-null    float64
 30  OPS                  130 non-null    float64
 31  Pais                 130 non-null    object
dtypes: datetime64[ns](2), float64(5), int64(15), object(10)
memory usage: 33.5+ KB

In [15]:
#reorganizar las columnas
column_order =['id','Dorsal', 'Nombre', 'Apellido','Team', 'Posicion', 'OPS','%_On_Base','Slugging',
               'Fecha Nac','Edad','F_Debut', 'Lugar_Nacimiento',"Pais",'Peso', 'Estatura(mtrs)',
               'Mano_Bateo', 'Mano_Lanzar',  'Juegos_Jugados', 'Turnos_Bate', 'Carrera',
               'Hits', 'Dobles', 'Triple', 'Jonrones', 'Carreras_Impulsadas', 'Boletos', 
               'Ponches', 'Bases_Robadas', 'Atrapado_Robando', 'Promedio',
               'Link_Ficha_Player']
df_fullplayer_stat = df_fullplayer_stat[column_order]

In [16]:
df_fullplayer_stat.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 130 entries, 0 to 129
Data columns (total 32 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   130 non-null    int64
 1   Dorsal               130 non-null    int64
 2   Nombre               130 non-null    object
 3   Apellido             130 non-null    object
 4   Team                 130 non-null    object
 5   Posicion             130 non-null    object
 6   OPS                  130 non-null    float64
 7   %_On_Base            130 non-null    float64
 8   Slugging             130 non-null    float64
 9   Fecha Nac            130 non-null    datetime64[ns]
 10  Edad                 130 non-null    int64
 11  F_Debut              130 non-null    datetime64[ns]
 12  Lugar_Nacimiento     130 non-null    object
 13  Pais                 130 non-null    object
 14  Peso                 130 non-null    object
 15  Estatura(mtrs)       130 non-null    float64
 16  Mano_Bateo           130 non-null    object
 17  Mano_Lanzar          130 non-null    object
 18  Juegos_Jugados       130 non-null    int64
 19  Turnos_Bate          130 non-null    int64
 20  Carrera              130 non-null    int64
 21  Hits                 130 non-null    int64
 22  Dobles               130 non-null    int64
 23  Triple               130 non-null    int64
 24  Jonrones             130 non-null    int64
 25  Carreras_Impulsadas  130 non-null    int64
 26  Boletos              130 non-null    int64
 27  Ponches              130 non-null    int64
 28  Bases_Robadas        130 non-null    int64
 29  Atrapado_Robando     130 non-null    int64
 30  Promedio             130 non-null    float64
 31  Link_Ficha_Player    130 non-null    object
dtypes: datetime64[ns](2), float64(5), int64(15), object(10)
memory usage: 33.5+ KB

In [17]:
#convertimos el Peso a float
df_fullplayer_stat["Peso"] = pd.to_numeric(df_fullplayer_stat["Peso"], errors="coerce")

In [18]:
df_fullplayer_stat.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 130 entries, 0 to 129
Data columns (total 32 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   130 non-null    int64
 1   Dorsal               130 non-null    int64
 2   Nombre               130 non-null    object
 3   Apellido             130 non-null    object
 4   Team                 130 non-null    object
 5   Posicion             130 non-null    object
 6   OPS                  130 non-null    float64
 7   %_On_Base            130 non-null    float64
 8   Slugging             130 non-null    float64
 9   Fecha Nac            130 non-null    datetime64[ns]
 10  Edad                 130 non-null    int64
 11  F_Debut              130 non-null    datetime64[ns]
 12  Lugar_Nacimiento     130 non-null    object
 13  Pais                 130 non-null    object
 14  Peso                 129 non-null    float64
 15  Estatura(mtrs)       130 non-null    float64
 16  Mano_Bateo           130 non-null    object
 17  Mano_Lanzar          130 non-null    object
 18  Juegos_Jugados       130 non-null    int64
 19  Turnos_Bate          130 non-null    int64
 20  Carrera              130 non-null    int64
 21  Hits                 130 non-null    int64
 22  Dobles               130 non-null    int64
 23  Triple               130 non-null    int64
 24  Jonrones             130 non-null    int64
 25  Carreras_Impulsadas  130 non-null    int64
 26  Boletos              130 non-null    int64
 27  Ponches              130 non-null    int64
 28  Bases_Robadas        130 non-null    int64
 29  Atrapado_Robando     130 non-null    int64
 30  Promedio             130 non-null    float64
 31  Link_Ficha_Player    130 non-null    object
dtypes: datetime64[ns](2), float64(6), int64(15), object(9)
memory usage: 33.5+ KB

In [23]:
df_fullplayer_stat["Peso"] = df_fullplayer_stat["Peso"].apply(lambda x: round(x *0.453592,2) if not pd.isnull(x) else x)

In [25]:
df_fullplayer_stat.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 130 entries, 0 to 129
Data columns (total 32 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   130 non-null    int64
 1   Dorsal               130 non-null    int64
 2   Nombre               130 non-null    object
 3   Apellido             130 non-null    object
 4   Team                 130 non-null    object
 5   Posicion             130 non-null    object
 6   OPS                  130 non-null    float64
 7   %_On_Base            130 non-null    float64
 8   Slugging             130 non-null    float64
 9   Fecha Nac            130 non-null    datetime64[ns]
 10  Edad                 130 non-null    int64
 11  F_Debut              130 non-null    datetime64[ns]
 12  Lugar_Nacimiento     130 non-null    object
 13  Pais                 130 non-null    object
 14  Peso                 129 non-null    float64
 15  Estatura(mtrs)       130 non-null    float64
 16  Mano_Bateo           130 non-null    object
 17  Mano_Lanzar          130 non-null    object
 18  Juegos_Jugados       130 non-null    int64
 19  Turnos_Bate          130 non-null    int64
 20  Carrera              130 non-null    int64
 21  Hits                 130 non-null    int64
 22  Dobles               130 non-null    int64
 23  Triple               130 non-null    int64
 24  Jonrones             130 non-null    int64
 25  Carreras_Impulsadas  130 non-null    int64
 26  Boletos              130 non-null    int64
 27  Ponches              130 non-null    int64
 28  Bases_Robadas        130 non-null    int64
 29  Atrapado_Robando     130 non-null    int64
 30  Promedio             130 non-null    float64
 31  Link_Ficha_Player    130 non-null    object
dtypes: datetime64[ns](2), float64(6), int64(15), object(9)
memory usage: 33.5+ KB

In [26]:
#Agrega columna de IMC(Indice de Masa Corporal)
df_fullplayer_stat["IMC"]= df_fullplayer_stat.apply(lambda x: x['Peso'] / (x['Estatura(mtrs)'] ** 2), axis=1)

In [27]:
df_fullplayer_stat.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 130 entries, 0 to 129
Data columns (total 33 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   130 non-null    int64
 1   Dorsal               130 non-null    int64
 2   Nombre               130 non-null    object
 3   Apellido             130 non-null    object
 4   Team                 130 non-null    object
 5   Posicion             130 non-null    object
 6   OPS                  130 non-null    float64
 7   %_On_Base            130 non-null    float64
 8   Slugging             130 non-null    float64
 9   Fecha Nac            130 non-null    datetime64[ns]
 10  Edad                 130 non-null    int64
 11  F_Debut              130 non-null    datetime64[ns]
 12  Lugar_Nacimiento     130 non-null    object
 13  Pais                 130 non-null    object
 14  Peso                 129 non-null    float64
 15  Estatura(mtrs)       130 non-null    float64
 16  Mano_Bateo           130 non-null    object
 17  Mano_Lanzar          130 non-null    object
 18  Juegos_Jugados       130 non-null    int64
 19  Turnos_Bate          130 non-null    int64
 20  Carrera              130 non-null    int64
 21  Hits                 130 non-null    int64
 22  Dobles               130 non-null    int64
 23  Triple               130 non-null    int64
 24  Jonrones             130 non-null    int64
 25  Carreras_Impulsadas  130 non-null    int64
 26  Boletos              130 non-null    int64
 27  Ponches              130 non-null    int64
 28  Bases_Robadas        130 non-null    int64
 29  Atrapado_Robando     130 non-null    int64
 30  Promedio             130 non-null    float64
 31  Link_Ficha_Player    130 non-null    object
 32  IMC                  129 non-null    float64
dtypes: datetime64[ns](2), float64(7), int64(15), object(9)
memory usage: 34.5+ KB

In [29]:
df_fullplayer_stat.isna().sum()

id                     0
Dorsal                 0
Nombre                 0
Apellido               0
Team                   0
Posicion               0
OPS                    0
%_On_Base              0
Slugging               0
Fecha Nac              0
Edad                   0
F_Debut                0
Lugar_Nacimiento       0
Pais                   0
Peso                   1
Estatura(mtrs)         0
Mano_Bateo             0
Mano_Lanzar            0
Juegos_Jugados         0
Turnos_Bate            0
Carrera                0
Hits                   0
Dobles                 0
Triple                 0
Jonrones               0
Carreras_Impulsadas    0
Boletos                0
Ponches                0
Bases_Robadas          0
Atrapado_Robando       0
Promedio               0
Link_Ficha_Player      0
IMC                    1
dtype: int64

In [31]:
df_fullplayer_stat.fillna(0, inplace= True)
df_fullplayer_stat.isna().sum()

id                     0
Dorsal                 0
Nombre                 0
Apellido               0
Team                   0
Posicion               0
OPS                    0
%_On_Base              0
Slugging               0
Fecha Nac              0
Edad                   0
F_Debut                0
Lugar_Nacimiento       0
Pais                   0
Peso                   0
Estatura(mtrs)         0
Mano_Bateo             0
Mano_Lanzar            0
Juegos_Jugados         0
Turnos_Bate            0
Carrera                0
Hits                   0
Dobles                 0
Triple                 0
Jonrones               0
Carreras_Impulsadas    0
Boletos                0
Ponches                0
Bases_Robadas          0
Atrapado_Robando       0
Promedio               0
Link_Ficha_Player      0
IMC                    0
dtype: int64

In [32]:
#GUARDAR EL DF COMO ARCHIVO CSV
df_fullplayer_stat.to_csv("Jugadores_FULLSTAT_2022.csv", index = False, sep = ",")