In [139]:
import requests
from bs4 import BeautifulSoup
import numpy as np
import pandas as pd

from pprint import pprint
import shutil

In [13]:
url= "https://www.spotrac.com/mlb/"
response = requests.get(url)

soup = BeautifulSoup(response.text, "html.parser")

In [14]:
response

In [15]:
#WEB EQUIPOS

season= 2022
team_bs=soup.find_all("a", class_="team-name")
team_webs=[team_bs[x]["href"] + f"{season}/" for x in range(len(team_bs))]
team_webs

['https://www.spotrac.com/mlb/arizona-diamondbacks/payroll/2022/',
 'https://www.spotrac.com/mlb/atlanta-braves/payroll/2022/',
 'https://www.spotrac.com/mlb/baltimore-orioles/payroll/2022/',
 'https://www.spotrac.com/mlb/boston-red-sox/payroll/2022/',
 'https://www.spotrac.com/mlb/chicago-cubs/payroll/2022/',
 'https://www.spotrac.com/mlb/chicago-white-sox/payroll/2022/',
 'https://www.spotrac.com/mlb/cincinnati-reds/payroll/2022/',
 'https://www.spotrac.com/mlb/cleveland-guardians/payroll/2022/',
 'https://www.spotrac.com/mlb/colorado-rockies/payroll/2022/',
 'https://www.spotrac.com/mlb/detroit-tigers/payroll/2022/',
 'https://www.spotrac.com/mlb/houston-astros/payroll/2022/',
 'https://www.spotrac.com/mlb/kansas-city-royals/payroll/2022/',
 'https://www.spotrac.com/mlb/los-angeles-angels/payroll/2022/',
 'https://www.spotrac.com/mlb/los-angeles-dodgers/payroll/2022/',
 'https://www.spotrac.com/mlb/miami-marlins/payroll/2022/',
 'https://www.spotrac.com/mlb/milwaukee-brewers/payroll/2022/',
 'https://www.spotrac.com/mlb/minnesota-twins/payroll/2022/',
 'https://www.spotrac.com/mlb/new-york-mets/payroll/2022/',
 'https://www.spotrac.com/mlb/new-york-yankees/payroll/2022/',
 'https://www.spotrac.com/mlb/oakland-athletics/payroll/2022/',
 'https://www.spotrac.com/mlb/philadelphia-phillies/payroll/2022/',
 'https://www.spotrac.com/mlb/pittsburgh-pirates/payroll/2022/',
 'https://www.spotrac.com/mlb/san-diego-padres/payroll/2022/',
 'https://www.spotrac.com/mlb/san-francisco-giants/payroll/2022/',
 'https://www.spotrac.com/mlb/seattle-mariners/payroll/2022/',
 'https://www.spotrac.com/mlb/st-louis-cardinals/payroll/2022/',
 'https://www.spotrac.com/mlb/tampa-bay-rays/payroll/2022/',
 'https://www.spotrac.com/mlb/texas-rangers/payroll/2022/',
 'https://www.spotrac.com/mlb/toronto-blue-jays/payroll/2022/',
 'https://www.spotrac.com/mlb/washington-nationals/payroll/2022/']

In [136]:
lst_nombres = []
lst_salarios = []
lst_edades = []
lst_equipos=[]

for i in team_webs:
    response = requests.get(i)
    soup = BeautifulSoup(response.text, "html.parser")
    print(i)
      
    for x in range(28):#son 28 jugadores por equipo
        bs_name=soup.find_all("td",class_ ="player")[x].text.split("\n")[2]
        lst_nombres.append(bs_name)
         
        lst_equipos.append(i.split("/")[-4].replace("-"," ").title())
            
        bs_salary=soup.find_all()
        lst_salarios.append(soup.find("td", class_ = "right").text)
    
        #lst_edades.append(soup.find("span", class_ ="cap").text)
 
    lst_nombres

https://www.spotrac.com/mlb/arizona-diamondbacks/payroll/2022/
https://www.spotrac.com/mlb/atlanta-braves/payroll/2022/
https://www.spotrac.com/mlb/baltimore-orioles/payroll/2022/
https://www.spotrac.com/mlb/boston-red-sox/payroll/2022/
https://www.spotrac.com/mlb/chicago-cubs/payroll/2022/
https://www.spotrac.com/mlb/chicago-white-sox/payroll/2022/
https://www.spotrac.com/mlb/cincinnati-reds/payroll/2022/
https://www.spotrac.com/mlb/cleveland-guardians/payroll/2022/
https://www.spotrac.com/mlb/colorado-rockies/payroll/2022/
https://www.spotrac.com/mlb/detroit-tigers/payroll/2022/
https://www.spotrac.com/mlb/houston-astros/payroll/2022/
https://www.spotrac.com/mlb/kansas-city-royals/payroll/2022/
https://www.spotrac.com/mlb/los-angeles-angels/payroll/2022/
https://www.spotrac.com/mlb/los-angeles-dodgers/payroll/2022/
https://www.spotrac.com/mlb/miami-marlins/payroll/2022/
https://www.spotrac.com/mlb/milwaukee-brewers/payroll/2022/
https://www.spotrac.com/mlb/minnesota-twins/payroll/2022/
https://www.spotrac.com/mlb/new-york-mets/payroll/2022/
https://www.spotrac.com/mlb/new-york-yankees/payroll/2022/
https://www.spotrac.com/mlb/oakland-athletics/payroll/2022/
https://www.spotrac.com/mlb/philadelphia-phillies/payroll/2022/
https://www.spotrac.com/mlb/pittsburgh-pirates/payroll/2022/
https://www.spotrac.com/mlb/san-diego-padres/payroll/2022/
https://www.spotrac.com/mlb/san-francisco-giants/payroll/2022/
https://www.spotrac.com/mlb/seattle-mariners/payroll/2022/
https://www.spotrac.com/mlb/st-louis-cardinals/payroll/2022/
https://www.spotrac.com/mlb/tampa-bay-rays/payroll/2022/
https://www.spotrac.com/mlb/texas-rangers/payroll/2022/
https://www.spotrac.com/mlb/toronto-blue-jays/payroll/2022/
https://www.spotrac.com/mlb/washington-nationals/payroll/2022/

In [141]:

   len(lst_nombres)

840

In [121]:
len(lst_equipos)

840

In [122]:
len(lst_nombres)

840

In [123]:
len(lst_edades)

840

In [17]:
df_salarios =pd.DataFrame()

df_salarios["Nombre"] = lst_nombres
df_salarios["Equipo"]=lst_equipos
df_salarios["Edad"] = lst_edades
df_salarios["Sueldo"] = lst_salarios

ValueError: Length of values (900) does not match length of index (30)

In [18]:
df_salarios

               Nombre Edad       Sueldo
0   Madison Bumgarner   32  $23,000,000
1      Charlie Morton   38  $20,000,000
2        Jordan Lyles   31   $5,500,000
3     Xander Bogaerts   29  $20,000,000
4      Marcus Stroman   31  $25,000,000
5          Jose Abreu   35  $18,000,000
6      Donovan Solano   34   $4,500,000
7        Jose Ramirez   29  $22,000,000
8      German Marquez   27  $11,000,000
9      Miguel Cabrera   39  $32,000,000
10        Jose Altuve   32  $26,000,000
11     Salvador Perez   32  $18,000,000
12         Mike Trout   30  $35,450,000
13    Freddie Freeman   32  $27,000,000
14     Avisail Garcia   31  $12,000,000
15   Christian Yelich   30  $26,000,000
16      Carlos Correa   27  $35,100,000
17        Gerrit Cole   31  $36,000,000
18       Max Scherzer   37  $43,333,333
19        Chad Pinder   30   $2,725,000
20       Bryce Harper   29  $26,000,000
21     Ke'Bryan Hayes   25  $10,000,000
22      Manny Machado   29  $30,000,000
23   Brandon Crawford   35  $16,000,000
24         Robbie Ray   30  $21,000,000
25   Paul Goldschmidt   34  $22,000,000
26       Corey Kluber   36   $8,000,000
27       Corey Seager   28  $32,500,000
28    George Springer   32  $28,000,000
29     Patrick Corbin   32  $23,000,000

In [179]:
url="https://www.spotrac.com/mlb/arizona-diamondbacks/payroll/2022/"

response = requests.get(url)

soup = BeautifulSoup(response.text, "html.parser")
response

In [180]:
salary_1equipo=[]
for i in range(28):
    bs_s=soup.find_all("td", class_="right")[i].find(class)
    print(bs_s)

SyntaxError: invalid syntax (2968775412.py, line 3)

In [178]:
a=soup.find_all("tr")
pprint(a[3:10])

[<tr>
<td class="player">
<span style="display:none">Hernandez</span>
<a href="https://www.spotrac.com/redirect/player/11516/">Cesar Hernandez</a>
</td>
<td class="center small"><span class="cap" title="">32</span></td>
<td class="center small"><span class="cap" title="">2B</span></td>
<td class="center small"><span class="cap" title="">Vet</span></td>
<td class="right"><span class="cap info" title="Base">$4,000,000</span></td>
<td class="right"><span class="cap info" title="Signing Bonus">-</span></td>
<td class="right"><span class="cap info" title="Signing Bonus">$500,000</span></td>
<td class="right"><span class="cap" title="Total Salary including base salary and bonuses">$4,500,000 </span></td>
<td class="result right"><span class="cap" title="Total Adjusted Salary including base salary and bonuses">$4,500,000</span></td>
<td class="center">3.55</td>
<td class="center">
											4,000,000										</td>
</tr>,
 <tr>
<td class="player">
<span style="display:none">Fedde</span>
<a href="https://www.spotrac.com/redirect/player/17694/">Erick Fedde</a>
</td>
<td class="center small"><span class="cap" title="">29</span></td>
<td class="center small"><span class="cap" title="">SP</span></td>
<td class="center small"><span class="cap" title="">Arb 1</span></td>
<td class="right option-arbitration-avoided"><span class="cap info" title="Base / Arbitration Avoided">$2,150,000</span></td>
<td class="right option-arbitration-avoided"><span class="cap info" title="Signing Bonus / Arbitration Avoided">-</span></td>
<td class="right option-arbitration-avoided"><span class="cap info" title="Signing Bonus / Arbitration Avoided">-</span></td>
<td class="right"><span class="cap option-arbitration-avoided" title="Total Salary including base salary and bonuses">$2,150,000 </span></td>
<td class="result right"><span class="cap option-arbitration-avoided" title="Total Adjusted Salary including base salary and bonuses">$2,150,000</span></td>
<td class="center option-arbitration-avoided">1.70</td>
<td class="center option-arbitration-avoided">
											2,150,000										</td>
</tr>,
 <tr>
<td class="player">
<span style="display:none">Cishek</span>
<a href="https://www.spotrac.com/redirect/player/7395/">Steve Cishek</a>
</td>
<td class="center small"><span class="cap" title="">36</span></td>
<td class="center small"><span class="cap" title="">RP</span></td>
<td class="center small"><span class="cap" title="">Vet</span></td>
<td class="right"><span class="cap info" title="Base">$1,750,000</span></td>
<td class="right"><span class="cap info" title="Signing Bonus">-</span></td>
<td class="right"><span class="cap info" title="Signing Bonus">$250,000</span></td>
<td class="right"><span class="cap" title="Total Salary including base salary and bonuses">$2,000,000 </span></td>
<td class="result right"><span class="cap" title="Total Adjusted Salary including base salary and bonuses">$2,000,000</span></td>
<td class="center">1.58</td>
<td class="center">
											1,750,000										</td>
</tr>,
 <tr>
<td class="player">
<span style="display:none">Sanchez</span>
<a href="https://www.spotrac.com/redirect/player/339/">Anibal Sanchez</a>
<span class="info" title="Two-Way Contract"><i class="fa fa-exchange"></i></span>
</td>
<td class="center small"><span class="cap" title="">38</span></td>
<td class="center small"><span class="cap" title="">SP</span></td>
<td class="center small"><span class="cap" title="">Vet</span></td>
<td class="right"><span class="cap info" title="Base">$2,000,000</span></td>
<td class="right"><span class="cap info" title="Signing Bonus">-</span></td>
<td class="right"><span class="cap info" title="Signing Bonus">-</span></td>
<td class="right"><span class="cap" title="Total Salary including base salary and bonuses">$2,000,000 </span></td>
<td class="result right"><span class="cap" title="Total Adjusted Salary including base salary and bonuses">$2,000,000</span></td>
<td class="center">1.58</td>
<td class="center">
											2,000,000										</td>
</tr>,
 <tr>
<td class="player">
<span style="display:none">Voit</span>
<a href="https://www.spotrac.com/redirect/player/23734/">Luke Voit</a>
</td>
<td class="center small"><span class="cap" title="">31</span></td>
<td class="center small"><span class="cap" title="">DH</span></td>
<td class="center small"><span class="cap" title="">Arb 2 (S2)</span></td>
<td class="right option-arbitration-avoided"><span class="cap info" title="Base / Arbitration Avoided">$5,450,000</span></td>
<td class="right option-arbitration-avoided"><span class="cap info" title="Signing Bonus / Arbitration Avoided">-</span></td>
<td class="right option-arbitration-avoided"><span class="cap info" title="Signing Bonus / Arbitration Avoided">-</span></td>
<td class="right"><span class="cap option-arbitration-avoided" title="Total Salary including base salary and bonuses">$5,450,000 </span></td>
<td class="result right"><span class="cap option-arbitration-avoided" title="Total Adjusted Salary including base salary and bonuses">$1,916,480</span></td>
<td class="center option-arbitration-avoided">1.51</td>
<td class="center option-arbitration-avoided">
											1,916,480										</td>
</tr>,
 <tr>
<td class="player">
<span style="display:none">Robles</span>
<a href="https://www.spotrac.com/redirect/player/21289/">Victor Robles</a>
</td>
<td class="center small"><span class="cap" title="">25</span></td>
<td class="center small"><span class="cap" title="">CF</span></td>
<td class="center small"><span class="cap" title="">Arb 1</span></td>
<td class="right option-arbitration-avoided"><span class="cap info" title="Base / Arbitration Avoided">$1,650,000</span></td>
<td class="right option-arbitration-avoided"><span class="cap info" title="Signing Bonus / Arbitration Avoided">-</span></td>
<td class="right option-arbitration-avoided"><span class="cap info" title="Signing Bonus / Arbitration Avoided">-</span></td>
<td class="right"><span class="cap option-arbitration-avoided" title="Total Salary including base salary and bonuses">$1,650,000 </span></td>
<td class="result right"><span class="cap option-arbitration-avoided" title="Total Adjusted Salary including base salary and bonuses">$1,650,000</span></td>
<td class="center option-arbitration-avoided">1.30</td>
<td class="center option-arbitration-avoided">
											1,650,000										</td>
</tr>,
 <tr>
<td class="player">
<span style="display:none">Finnegan</span>
<a href="https://www.spotrac.com/redirect/player/47064/">Kyle Finnegan</a>
<span class="info" title="Two-Way Contract"><i class="fa fa-exchange"></i></span>
</td>
<td class="center small"><span class="cap" title="">30</span></td>
<td class="center small"><span class="cap" title="">RP/CL</span></td>
<td class="center small"><span class="cap" title="">Pre-Arb</span></td>
<td class="right"><span class="cap info" title="Base">$725,900</span></td>
<td class="right"><span class="cap info" title="Signing Bonus">-</span></td>
<td class="right"><span class="cap info" title="Signing Bonus">-</span></td>
<td class="right"><span class="cap" title="Total Salary including base salary and bonuses">$725,900 </span></td>
<td class="result right"><span class="cap" title="Total Adjusted Salary including base salary and bonuses">$725,900</span></td>
<td class="center">0.57</td>
<td class="center">
											725,900										</td>
</tr>]