In [1]:
import numpy as np
import pandas as pd
from datetime import datetime

In [2]:
df_player_stat1= pd.read_csv("Jugadores_Ficha_2022_V1Nac.csv")

In [3]:
df_player_stat2= pd.read_csv("Jugadores_STAT_2022.csv")

In [4]:
# se unen los dos dataframe
df_fullplayer_stat=df_player_stat1.merge(df_player_stat2, on='id', suffixes=('', '_2'))

In [5]:
#Elimina las columnas repetidas
df_fullplayer_stat.drop(columns=[col for col in df_fullplayer_stat.columns if col.endswith('_2')], inplace=True)

Agregamos la columna OPS que es por donde se miden de manera general a todos los jugadores
El OPS es la suma de OBP(%_On. Base)+SLG(Slugging)

# OPS – Promedio de Embasado(OBP) + Slugging 
(agrega porcentaje de embasado y porcentaje de slugging )
para obtener un número que une a los dos. Su objetivo es combinar lo bien que un bateador 
puede llegar a la base, con lo bien que puede batear para promedio y poder.

In [7]:
#Creamos la columna
df_fullplayer_stat["OPS"]=df_fullplayer_stat["%_On_Base"]+df_fullplayer_stat["Slugging"]

In [9]:
#Convertir la fecha de nacimiento y la fecha debut en datetime
df_fullplayer_stat['Fecha Nac'] = pd.to_datetime(df_fullplayer_stat['Fecha Nac'])
df_fullplayer_stat['F_Debut'] = pd.to_datetime(df_fullplayer_stat['F_Debut'])

In [10]:
#Eliminar la columna equipo que se repite
df_fullplayer_stat.drop(columns=["Equipo"], inplace=True)

In [18]:
#Crea pais USA para los estados segun Lugar de Nacimiento
lugar=df_fullplayer_stat["Lugar_Nacimiento"]
pais=[]
for i in lugar:
    if len(i)== 3:
        a="USA"
        pais.append(a)
    else:
        pais.append(i[1:])

In [13]:
#agrega la cloumna Pais al df
df_fullplayer_stat["Pais"]=pais

In [19]:
#df_fullplayer_stat.info()

In [15]:
#reorganizar las columnas
column_order =['id','Dorsal', 'Nombre', 'Apellido','Team', 'Posicion', 'OPS','%_On_Base','Slugging',
               'Fecha Nac','Edad','F_Debut', 'Lugar_Nacimiento',"Pais",'Peso(Kg)', 'Estatura(mtrs)',
               'Mano_Bateo', 'Mano_Lanzar',  'Juegos_Jugados', 'Turnos_Bate', 'Carrera',
               'Hits', 'Dobles', 'Triple', 'Jonrones', 'Carreras_Impulsadas', 'Boletos', 
               'Ponches', 'Bases_Robadas', 'Atrapado_Robando', 'Promedio',
               'Link_Ficha_Player']
df_fullplayer_stat = df_fullplayer_stat[column_order]

<class 'pandas.core.frame.DataFrame'>
Int64Index: 130 entries, 0 to 129
Data columns (total 32 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   130 non-null    int64
 1   Dorsal               130 non-null    int64
 2   Nombre               130 non-null    object
 3   Apellido             130 non-null    object
 4   Team                 130 non-null    object
 5   Posicion             130 non-null    object
 6   OPS                  130 non-null    float64
 7   %_On_Base            130 non-null    float64
 8   Slugging             130 non-null    float64
 9   Fecha Nac            130 non-null    datetime64[ns]
 10  Edad                 130 non-null    int64
 11  F_Debut              130 non-null    datetime64[ns]
 12  Lugar_Nacimiento     130 non-null    object
 13  Pais                 130 non-null    object
 14  Peso(Kg)             130 non-null    float64
 15  Estatura(mtrs)       130 non-null    float64
 16  Mano_Bateo           130 non-null    object
 17  Mano_Lanzar          130 non-null    object
 18  Juegos_Jugados       130 non-null    int64
 19  Turnos_Bate          130 non-null    int64
 20  Carrera              130 non-null    int64
 21  Hits                 130 non-null    int64
 22  Dobles               130 non-null    int64
 23  Triple               130 non-null    int64
 24  Jonrones             130 non-null    int64
 25  Carreras_Impulsadas  130 non-null    int64
 26  Boletos              130 non-null    int64
 27  Ponches              130 non-null    int64
 28  Bases_Robadas        130 non-null    int64
 29  Atrapado_Robando     130 non-null    int64
 30  Promedio             130 non-null    float64
 31  Link_Ficha_Player    130 non-null    object
dtypes: datetime64[ns](2), float64(6), int64(15), object(9)
memory usage: 33.5+ KB

In [20]:
#df_fullplayer_stat.info()

In [16]:
#Agrega columna de IMC(Indice de Masa Corporal)
df_fullplayer_stat["IMC"]= df_fullplayer_stat.apply(lambda x: x['Peso(Kg)'] / (x['Estatura(mtrs)'] ** 2), axis=1)

In [17]:
df_fullplayer_stat.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 130 entries, 0 to 129
Data columns (total 33 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   130 non-null    int64
 1   Dorsal               130 non-null    int64
 2   Nombre               130 non-null    object
 3   Apellido             130 non-null    object
 4   Team                 130 non-null    object
 5   Posicion             130 non-null    object
 6   OPS                  130 non-null    float64
 7   %_On_Base            130 non-null    float64
 8   Slugging             130 non-null    float64
 9   Fecha Nac            130 non-null    datetime64[ns]
 10  Edad                 130 non-null    int64
 11  F_Debut              130 non-null    datetime64[ns]
 12  Lugar_Nacimiento     130 non-null    object
 13  Pais                 130 non-null    object
 14  Peso(Kg)             130 non-null    float64
 15  Estatura(mtrs)       130 non-null    float64
 16  Mano_Bateo           130 non-null    object
 17  Mano_Lanzar          130 non-null    object
 18  Juegos_Jugados       130 non-null    int64
 19  Turnos_Bate          130 non-null    int64
 20  Carrera              130 non-null    int64
 21  Hits                 130 non-null    int64
 22  Dobles               130 non-null    int64
 23  Triple               130 non-null    int64
 24  Jonrones             130 non-null    int64
 25  Carreras_Impulsadas  130 non-null    int64
 26  Boletos              130 non-null    int64
 27  Ponches              130 non-null    int64
 28  Bases_Robadas        130 non-null    int64
 29  Atrapado_Robando     130 non-null    int64
 30  Promedio             130 non-null    float64
 31  Link_Ficha_Player    130 non-null    object
 32  IMC                  130 non-null    float64
dtypes: datetime64[ns](2), float64(7), int64(15), object(9)
memory usage: 34.5+ KB

In [22]:
#GUARDAR EL DF COMO ARCHIVO CSV
df_fullplayer_stat.to_csv("Jugadores_FULLSTAT_2022.csv", index = False, sep = ",")